<!-- this form displays all secondary fittings related to the lower body -->
<!-- onSubmit called with the the form as a parameter -->
<form #userFittingForm="ngForm" (ngSubmit)="onSubmit(userFittingForm)">
  <!-- if there are fittings for secondary fittings related to the lower body, then the noItems directive is called -->
  <table *ngIf="accessories.length >0; else noItems" class="table table-striped">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow-sm" style="padding: 15px;">
          <h3>Instructions:</h3>
          <br>
          <p> <strong>Step 3:</strong> Choose an additonal fitting(s) you would like. Each fitting has a description of
            why someone would need it. If
            you do not want any of these changes, click <a routerLink="/checkout"> here</a>. Otherwise,
            click the 'Add to order' button. Once you've added all the fittings that you want, click next at the top of
            the
            screen to move onto the next step.</p>
        </div>
      </div>
      <!-- looping through secondary fittings related to the lower body -->
      <div class="col-md-2" *ngFor="let item of accessories">
        <div class="card shadow-sm">
          <!-- displaying items via string interpolation -->
          <img class="bd-placeholder-img card-img-top" width="100%" src="{{item.image}}" />
          <div class="card-body">
            <h4 class="card-title">{{item.item | titlecase}}</h4>
            <p class="card-text">{{item.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <div class="card-footer">
            <!-- click event for fittings added to cart -->
            <button (click)="addAccessoryItemsLowerToCart(item)" type="submit" class="btn btn-primary w-100">Add to
              order
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <a routerLink="/checkout" class="btn btn-link">
          <i class="fa fa-arrow-circle-o-right">
            <h3>Next</h3>
          </i>
        </a>
        <!-- displaying shopping cart component -->
        <app-shopping-cart></app-shopping-cart>
      </div>
    </div>
  </table>
  <!-- noItems directive -->
  <ng-template #noItems>
    <hr>
    <h5>There are no items in the system</h5>
  </ng-template>
</form>
