<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary"> <i class="fa fa-lock"></i> Adaptive Fitting </span> Registration
        </h1>
        <!-- onsubmit called from ts file of this component  -->
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" required>
          </div>
          <br>
          <input type="submit" value="Register" class="btn btn-primary btn-block">
        </form>
      </div>
      <div>
        <!-- link for users who have already registered and wish to login -->
        <p>Already a member?<br><a routerLink="/" class="nav-link">Login</a></p>
      </div>
    </div>
  </div>
</div>
