<div class="row">
  <div class="col-md-6">
    <a routerLink="/my-orders" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Orders
    </a>
  </div>
</div>
<div class="col-md-12">
  <div class="card" style="width: 20rem;">
    <h4>Garment</h4>
    <!-- looping through garments in the order and displaying them by string interpolation -->
    <div *ngFor="let product of products" class="card-body">
      <h5>{{product.product.item}}</h5>
      <p>{{product.product.description}}</p>
    </div>

    <h4>Accesories</h4>
    <!-- looping through fittings in the order and displaying them by string interpolation -->
    <div *ngFor="let accessory of accessories" class="card-body">
      <h5>{{accessory.accessory.item}}</h5>
      <p>{{accessory.accessory.description}}</p>
    </div>
  </div>
</div>
