<div class="row">
  <div class="col-md-6">
    <a routerLink="/profile" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Profile
    </a>
  </div>
</div>

<form #userMeasurementsForm="ngForm" (ngSubmit)="onSubmitAddMeasurements(userMeasurementsForm)" *ngIf="measurements; else noUserMeasurements">
  <div class="row">
    <div class="col-md-6">
      <h2>Upper Body (Inches)</h2>
      <div class="form-group">
        <label for="chest">Neck Circumference </label>
        <input type="number" class="form-control" name="neck" [(ngModel)]="measurements.neck" placeholder="Inches" >
      </div>
      <div class="form-group">
        <label for="chest">Back Length</label>
        <input type="number" class="form-control" name="backlenght" [(ngModel)]="measurements.backlenght" placeholder="Inches" >
      </div>
    <div class="form-group">
      <label for="chest">Chest Circumference</label>
      <input type="number" class="form-control" name="chest" [(ngModel)]="measurements.chest" placeholder="Inches" >
    </div>
    <div class="form-group">
      <label for="cuff">Left Cuff Circumference</label>
      <input type="number" class="form-control" name="leftCuff" [(ngModel)]="measurements.leftCuff" placeholder="Inches">
    </div>
    <div class="form-group">
      <label for="cuff">Right Cuff Circumference</label>
      <input type="number" class="form-control" name="rightCuff" [(ngModel)]="measurements.rightCuff" placeholder="Inches">
    </div>
    <div class="form-group">
        <label for="leftArm">Left Arm Length</label>
        <input type="number" class="form-control" name="leftArm" [(ngModel)]="measurements.leftArm" placeholder="Inches">
      </div>
      <div class="form-group">
        <label for="rightArm">Right Arm Length</label>
        <input type="number" class="form-control" name="rightArm" [(ngModel)]="measurements.rightArm" placeholder="Inches">
      </div>
      <div class="form-group">
        <label for="leftShoulder">Left Shoulder Length</label>
        <input type="number" class="form-control" name="leftShoulder" [(ngModel)]="measurements.leftShoulder" placeholder="Inches">
      </div>
      <div class="form-group">
        <label for="rightShoulder">Right Shoulder Length</label>
        <input type="number" class="form-control" name="rightShoulder" [(ngModel)]="measurements.rightShoulder" placeholder="Inches">
      </div>
    </div>
    <div class="col-md-6">
      <h2>Lower Body (Inches)</h2>
      <div class="form-group">
        <label for="waist">Waist Line Circumference</label>
        <input type="number" class="form-control" name="waist" [(ngModel)]="measurements.waist" placeholder="Inches">
      </div>
      <div class="form-group">
        <label for="hip">Hip Circumference</label>
        <input type="number" class="form-control" name="hip" [(ngModel)]="measurements.hip" placeholder="Inches">
      </div>
      <div class="form-group">
          <label for="rise">Rise Length</label>
          <input type="number" class="form-control" name="rise" [(ngModel)]="measurements.rise" placeholder="Inches">
        </div>
        <div class="form-group">
          <label for="leftThighWidth">Left Thigh Circumference</label>
          <input type="number" class="form-control" name="leftThighWidth" [(ngModel)]="measurements.leftThighWidth" placeholder="Inches">
        </div>
        <div class="form-group">
          <label for="rightThighWidth">Right Thigh Circumference</label>
          <input type="number" class="form-control" name="rightThighWidth" [(ngModel)]="measurements.rightThighWidth" placeholder="Inches">
        </div>
        <div class="form-group">
          <label for="leftLegLength">Left Leg Length</label>
          <input type="number" class="form-control" name="leftLegLength" [(ngModel)]="measurements.leftLegLength" placeholder="Inches">
        </div>
        <div class="form-group">
            <label for="rightLegLenght">Right Leg Length</label>
            <input type="number" class="form-control" name="rightLegLenght" [(ngModel)]="measurements.rightLegLenght" placeholder="Inches">
          </div>
          <div class="form-group">
            <label for="leftLegInseam">Left Leg Inseam</label>
            <input type="number" class="form-control" name="leftLegInseam" [(ngModel)]="measurements.leftLegInseam" placeholder="Inches">
          </div>
          <div class="form-group">
            <label for="rightLegInseam">Right Leg Inseam</label>
            <input type="number" class="form-control" name="rightLegInseam" [(ngModel)]="measurements.rightLegInseam" placeholder="Inches">
          </div>
    </div>
     
          
  </div>
  <br>

          <input type="submit" value="Submit" class="btn btn-primary btn-block" >
          <br>
  </form>

  <ng-template #noUserMeasurements>You have not yet added your body measurements</ng-template>


