<div class="row">
    <div class="col-md-6">
        <a routerLink="/admin/products" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i> Back To Products 
        </a>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right">
            <a routerLink="/admin/edit/{{id}}" class="btn btn-light">
            Edit</a>
            <!-- click event to call the "onDeleteClick()" in the ts file of this component  -->
            <button (click)="onDeleteClick()" class="btn btn-danger">Delete </button>
        </div>
    </div>
</div>

<hr>
<!-- Card to show the details of that product (garment) - use of string interpolation  -->
<div class="col-md-12" *ngIf="product">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="product.image" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{product.item}}</h4>
            <p class="card-text">{{product.description}}</p>
        </div>
    </div>
</div>
