<div class="row">
  <div class="col-md-6">
    <a routerLink="/admin/products" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Products
    </a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Add Product
        </div>

        <div class="card-body">
          <!-- calling onSumbit method that exists in the ts file of this component. The method accepts the parameter of the values submitted in this form -->
          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <div class="form-group">
              <label for="item">Product Title</label>
              <!-- Error handlers for incorrect values - if a values is invalid it is assigned the 'is-invalid' class on the ng directive -->
              <input type="text" class="form-control" name="item" #productTitle="ngModel"
                [ngClass]="{'is-invalid': productTitle.errors && productTitle.touched}" [(ngModel)]="product.item"
                minlength="2" required>
              <!-- Error messages being displated if the form values invalid -->
              <div [hidden]="!productTitle.errors?.required" class="invalid-feedback">
                Product title required

              </div>
              <div [hidden]="!productTitle.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters

              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <!-- Error handlers for incorrect values - if a values is invalid it is assigned the 'is-invalid' class on the ng directive -->
              <input type="text" class="form-control" name="description" #productDescription="ngModel"
                [ngClass]="{'is-invalid': productDescription.errors && productDescription.touched}"
                [(ngModel)]="product.description" minlength="2" required>
              <!-- Error messages being displated if the form values invalid -->
              <div [hidden]="!productDescription.errors?.required" class="invalid-feedback">
                Description required

              </div>
              <div [hidden]="!productDescription.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters

              </div>
            </div>

            <div class="form-group">
              <label for="image">Image URL</label>
              <!-- Error handlers for incorrect values - if a values is invalid it is assigned the 'is-invalid' class on the ng directive -->
              <input type="text" class="form-control" name="image" #productImage="ngModel"
                [ngClass]="{'is-invalid': productImage.errors && productImage.touched}" [(ngModel)]="product.image"
                required>
              <!-- Error messages being displated if the form values invalid -->
              <div [hidden]="!productImage.errors?.required" class="invalid-feedback">
                Image required

              </div>
              <div [hidden]="!productImage.errors?.pattern" class="invalid-feedback">
                Image is not valid

              </div>
            </div>

            <!-- dropdown to assign the product category - does the garment added apply to upper or lower body -->
            <div class="form-group">
              <label for="category">Category</label>
              <select [(ngModel)]="product.category" name="category" class="form-control" id="category-dropdown">
                <option>Upper-Body</option>
                <option>Lower-Body</option>

              </select>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-block">

          </form>
        </div>
      </div>

    </div>
    <!-- card to display what the added product will look like before it is submitted -->
    <div class="col-md-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="productImage.value" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{productTitle.value}}</h4>
          <p class="card-text">{{productDescription.value}}</p>
        </div>
      </div>
    </div>
  </div>
